
.header {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 0px 5px ;
  align-items: center;
}

.logo {
  width: 100px;
}

.admin-link {
  text-decoration: none;
  color: black;
}

.poster-container {
  position: relative;
}

.poster-img {
  width: 100%;
  height: 80%;
 
}

.poster-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content-card {
  width: 300px;
}

.content-img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #848282;
  color: black;
  
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  flex-wrap: wrap;
}

.footer-section > div {
  flex-basis: calc(33.33% - 20px); /* Adjust the width of each section */
}

.about-us h3,
.links h3,
.office h3 {
  margin-bottom: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 5px;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}
